<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= title %></h1>
    <form method="post" action="">
      <label for="title"> Brand name:</label>
      <input type="text" name="title" value="<%= (typeof brand === "undefined")
      ? "" : brand.title %> " />
      <label for="description"> Description:</label>
      <input type="text" name="description" value="<%= (typeof brand ===
      "undefined") ? "" : brand.description %> " />

      <button type="submit">Submit</button>
      <% if (typeof errors !== "undefined") { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
    </form>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
