<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= brand.title %></h1>
    <a href="<%= brand.url %>/delete">Delete this brand</a>
    <a href="<%= brand.url %>/update">Update this brand</a>
    <% if (product_list.length > 0) { %> <% product_list.forEach(item => { %>
    <h2>
      <a href="<%= item.url %>"><%= item.title %></a>
    </h2>

    <ul>
      <li>$<%= item.price %></li>
      <li><%= item.rating %> out of 5 stars</li>
    </ul>
    <% }) %> <% } else { %>
    <p>There are no products to display!</p>
    <% } %> <%- include("./partials/footer.ejs") %>
  </body>
</html>
