<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Delete Brand: <%= category.title %></h1>
    <% if (typeof category_products !== "undefined" && category_products.length
    > 0) { %>
    <p>
      <strong>
        You must delete these products before removing this category
      </strong>
    </p>
    <ul>
      <% category_products.forEach(product => { %>
      <li><a href="<%= product.url %>"><%= product.title %></a></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>Are you sure you want to delete this category?</p>
    <form method="post" action="">
      <input
        type="hidden"
        name="category_id"
        required
        value="<%= category._id %>"
      />
      <button type="submit">Delete</button>
    </form>
    <% } %> <%- include("./partials/footer.ejs") %>
  </body>
</html>
